<section class="section bottom">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="content has-text-centered">
          <p>
            <img alt="{{ site.title }}" src="/assets/images/logo.png" style="max-width: 200px;" />
          </p>
        </div>
      </div>
      <div class="column">

        <ul>
          {% for item in site.nav_de %}
          {% if item.dropdown %}
          <div class="navbar-item{% if page.permalink contains item.permalink %} active{% endif %} has-dropdown is-hoverable">
            <a class="navbar-link">
              {{ item.dropdown[0].title }}
            </a>
            <div class="navbar-dropdown">
              {% for drop_item in item.dropdown %}
              {% if drop_item.type != 'dropdowntitle' %}
              <a class="navbar-item{% if page.permalink contains item.permalink %} active{% endif %}" href="{{ drop_item.permalink }}">
                {{ drop_item.title }}
              </a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% else %}
          <li style="padding-bottom: 0.4rem;">
            <a class="navbar-item{% if item.permalink == page.permalink %} active{% endif %}" href="{{ item.permalink }}">
              {{ item.title }}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="column is-4">
        <div class="content">
          <p>
            Sie suchen etwas Spezielles oder haben Ihre Marke des Vertrauens nicht gefunden? Melden Sie sich bitte! Wir helfen Ihnen gerne weiter!
          {% unless page.permalink == '/kontakt/' %}<b><a href="/kontakt/#anfrage">Kontaktformular</a></b>{% endunless %}
        </p>
          <p>
            <small>
              <b>Bürozeiten</b>
              <br />Sie erreichen uns von Montag bis Freitag telefonisch in der Zeit von 9:00 Uhr - 17:00 Uhr. Bürotermine nach Vereinbarung.
            </small>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <p><strong>{{ site.title }}</strong></p>
          <p>
            <small>
              <strong>Handy:</strong> <a href="tel:{{ site.phone }}">{{ site.phone }}</a>
              <br /><strong>Festnetz:</strong> <a href="tel:{{ site.festnetz }}">{{ site.festnetz }}</a>
              <br /><strong>Fax:</strong> {{ site.fax }}
            </small>
          </p>
          <p>
            <small>
              <b>Adresse</b>
              <br />{{ site.street }}
              <br />{{ site.city }}
              <br />{{ site.postalcode }} {{ site.area }}
            </small>
          </p>
        </div>
      </div>
    </div>
    <p>
      © 2021 {{ site.title }} | <a href="/impressum/">Impressum</a> | <a href="/datenschutz/">Datenschutz</a> | <a href="/agb/">AGB</a>
    </p>
  </div>
</section>