<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <strong style="color: #fff">
              Kontakt aufnehmen und Traum erfüllen
            </strong>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            Email:&nbsp<b><a href="mailto:{{ site.email }}?Subject=Anfrage">{{ site.email }}</a></b>
          </div>
          <div class="level-item">
            Telefon:<b>&nbsp<a href="tel:{{ site.phone }}">{{ site.phone }}</a></b>
          </div>
          <div class="level-item">
            <a href="/kontakt/">
              <button class="button is-white">
                Jetzt anfragen
              </button>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>